@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Smooth transition for dark mode */
html {
  color-scheme: light;
  transition: color-scheme 0.3s;
}
html.dark {
  color-scheme: dark;
}
